h1 {
    margin-left: 250px;
}

table{ 
    width: 600px;

}

td,th {
    padding: 10px;
    text-align: center;
}

table thead {
    background-color: #ccc;
}

tbody tr:hover {
    background-color: bisque;
}
#reset {
    margin-left: 10px;
}